<div class="dashboard-container" autoFocus>
  <button id="title" class="btn-grad" (click)="addProduct()">Add Product</button>
  <div class="btn-group">
    <select class="browser-default custom-select" (change)="getProduct($event)">
      <option selected>Select the product</option>
      <option *ngFor="let product of productList?.products" value="{{product.id}}" (click)="getProduct(product.id)">
        {{product.productName}}</option>
    </select>
  </div>
  <div *ngIf="isProductAvailable" class="product-details">
    <div class="table table-striped w-auto">
      <div class="row">
        <div class="col-sm-4">
          <h3><label class="product-labels">Product Name</label></h3>
        </div>
        <div class="col-sm-4">
          <h3><label class="product-label">{{this.product?.productName}}</label></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3><label class="product-labels">Short Description</label></h3>
        </div>
        <div class="col-sm-4">
          <h3><label class="product-label">{{product?.shortDescription}}</label></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3><label class="product-labels">Detailed Description</label></h3>
        </div>
        <div class="col-sm-4">
          <h3><label class="product-label">{{product?.detailedDescription}}</label></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3><label class="product-labels">Category </label></h3>
        </div>
        <div class="col-sm-4">
          <h3><label class="product-label">{{product?.category}}</label></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3><label class="product-labels">Starting Price</label></h3>
        </div>
        <div class="col-sm-4">
          <h3><label class="product-label">{{product?.startingPrice}}</label></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3><label class="product-labels">Bid End Date</label></h3>
        </div>
        <div class="col-sm-4">
          <h3><label class="product-label">{{product?.bidEndDate}}</label>
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isProductAvailable" class="bid-title">
    <h1>Bids</h1>
  </div>
  <div *ngIf="isProductAvailable" class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="th-lg">Bid Amount</th>
          <th class="th-lg">Name</th>
          <th class="th-lg">Email</th>
          <th class="th-lg">Mobile</th>
        </tr>
      </thead>
      <tbody *ngIf="bidDetails.length < 0">
        <tr>
          <td>No Bids are available for this product</td>
        </tr>
      </tbody>
      <tbody *ngFor="let bid of bidDetails">
        <tr>
          <td *ngIf="bid?.bidAmount">{{bid?.bidAmount}}</td>
          <td *ngIf="bid?.bidAmount">{{bid?.buyer?.firstName}} {{bid?.buyer?.lastName}}</td>
          <td *ngIf="bid?.bidAmount">{{bid?.buyer?.email}}</td>
          <td *ngIf="bid?.bidAmount">{{bid?.buyer?.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>